@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  font-smooth: antialiased;
  font-weight: 500;
}

body p {
  color: #424242;
  line-height: 28px;
  font-size: 14px;
}

.f-s1 {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.f-s2 {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.f-s3 {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

section.about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.274))), url(/image/about.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.274)), url(/image/about.jpg) no-repeat;
  background-size: cover;
}

section.team .container .list .item .card {
  border: none;
  -webkit-box-shadow: 0px 0px 2px 1px #686968;
          box-shadow: 0px 0px 2px 1px #686968;
}

section.team .container .list .item .card:hover {
  -webkit-box-shadow: 0px 0px 2px 1px green;
          box-shadow: 0px 0px 2px 1px green;
}

section.team .container .list .item .card img {
  height: 200px;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  section.team .container .list .item .card img {
    height: 250px;
  }
}

section.team .container .list .item .card .card-body {
  background: rgba(0, 0, 0, 0);
}

section.team .container .list .item .card .card-body h5 {
  font-size: 18px;
  font-weight: 700;
}

section.team .container .list .item .card .card-body p {
  font-size: 14px;
}

section.team .container .list .item .card .card-body .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

section.team .container .list .item .card .card-body .icon li {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #1a1919;
  margin-right: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
  font-size: 14px;
}

section.team .container .list .item .card .card-body .icon li:hover {
  background-color: #0c8d21;
}

section.team .container .list .item .card .card-body .icon li a {
  color: white;
}
