.f-s1 {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.f-s2 {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.f-s3 {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

section.content .container .card, .related .container .card {
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.content .container .card:hover, .related .container .card:hover {
  -webkit-box-shadow: 0px 0px 5px lightgray;
          box-shadow: 0px 0px 5px lightgray;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

section.content .container .card:hover .title, .related .container .card:hover .title {
  color: seagreen;
}

section.content .container .card .card-body .title, .related .container .card .card-body .title {
  height: 80px;
  overflow: hidden;
}

section.content .container .card .card-body .imgBx, .related .container .card .card-body .imgBx {
  width: 100%;
  height: 250px;
}

section.content .container .card .card-body .imgBx img, .related .container .card .card-body .imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

section.blog_detail .container .title, section.blog_detail .container .text {
  font-family: 'Times New Roman', Times, serif;
}
