@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  font-smooth: antialiased;
  font-weight: 500;
}

body p {
  color: #424242;
  line-height: 28px;
  font-size: 14px;
}

.f-s1 {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.f-s2 {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.f-s3 {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

section.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(/image/contact_us.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/image/contact_us.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

section.contact .container .social ul {
  margin: 5px 0;
}

section.contact .container .social ul li {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

section.contact .container .social ul li a {
  color: white;
}
