@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
body{
    font-family: 'Poppins',
    sans-serif;
}
$primary:#45ACB0;
$secondary:#2596BE;
$divider:#B94A5A;
$primary-text:#1F2B33;
$secondary-text:#EBEDEE;
$light-text: #ffffff;
.f-s1 {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.f-s2 {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.f-s3 {
    text-decoration: none;
    color: black;
    font-size: 14px;
}