@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: 'Raleway',
    sans-serif;
    font-smooth: antialiased;
    font-weight: 500;
    p{
        color: #424242;
        line-height: 28px;
        font-size: 14px;
    }
}
$primary:#45ACB0;
$secondary:#2596BE;
$divider:#B94A5A;
$primary-text:#1F2B33;
$secondary-text:#EBEDEE;
$light-text: #ffffff;
.f-s1 {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.f-s2 {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.f-s3 {
    text-decoration: none;
    color: black;
    font-size: 14px;
}