@import '_var';
section.about{
    background: linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.274)), url(/image/about.jpg) no-repeat;
    background-size: cover;
}
section.team{
    .container{
        .list{
            .item{
                .card{
                    border: none;
                    box-shadow: 0px 0px 2px 1px green;
                    img{
                        height: 200px;
                        border-radius: 5px 5px 0 0;
                        object-fit: cover;
                    }
                    @media screen and (max-width:500px){
                        img{
                            height: 250px;
                        }
                    }
                    .card-body{
                        background: rgba(0, 0, 0, 0);
                        h5{
                            font-size: 18px;
                            font-weight: 700;
                        }
                        p{
                            font-size: 14px;
                        }
                        .icon{
                            display: flex;
                            list-style: none;
                            padding: 0;
                            margin-top: 5px;
                            li{
                                width: 30px;
                                height: 30px;
                                text-align: center;
                                line-height: 30px;
                                background: rgb(26, 25, 25);
                                margin-right: 3px;
                                transition: 0.5s;
                                border-radius: 15px;
                                font-size: 14px;
                                &:hover{
                                    background-color: rgb(12, 141, 33);
                                    
                                }
                                a{
                                    color: white;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}