@import '_var';

.top {
    background-color: $primary-text;

    .container {
        .row {
            .icon-list {
                ul {
                    li {
                        margin-left: 8px;

                        a {
                            text-decoration: none;
                            color: $secondary-text;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }

            .text {
                a {
                    text-decoration: none;
                    color: $secondary-text;
                    padding: 0 10px;

                    &:first-child {
                        border-right: 1px solid $light-text;
                    }
                }
            }
        }
    }
}

.info {
    .container {
        .row {
            .logo {
                img {
                    width: 120px;
                }
            }

            .detail {
                div {
                    margin-right: 5px;

                    .icon {
                        width: 35px;
                        height: 35px;
                        color: white;
                        text-align: center;
                        line-height: 35px;
                        background-color: $primary;
                        border-radius: 50%;
                        margin-right: 5px;
                    }

                    .call-us,
                    .visit-us,
                    .email-us {
                        line-height: 16px;

                        p {
                            font-weight: 700;
                        }

                        a {
                            text-decoration: none;
                            color: $primary-text;
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    background-color: $primary-text;
    border-top: 1px solid $light-text;
    position: relative;
    z-index: 111111111;

    .container {
        .navbar-brand {
            img {
                width: 120px;
                height: 50px;
                object-fit: cover;
            }
            @media screen and (max-width:768px){
                img{
                    width: 150px;
                }
            }
        }

        .navbar-toggler {
            color: $primary-text;
        }

        .collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $secondary-text;
                    }

                    .side::after {
                        content: "";
                        padding: 0 5px;
                    }

                    .nav-link.active {
                        color: $light-text;
                        font-weight: 600;
                    }
                }

            }

            form {
                div {
                    .search {
                        background: $primary;
                        color: $secondary-text;
                    }

                    .dropdown-menu {
                        width: 300px;
                    }
                }
            }
        }

        @media screen and (max-width:992px) {
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: $secondary-text;
                        }

                        .side::after {
                            content: "";
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    //  .navbar{
    //      position: fixed;
    //      top: 56px;
    //  }
    //  .banner::before{
    //     display: block;
    //     content: "";
    //     height: 100px;
    //  }
}

.banner {
    .carousel {

        button.carousel-control-prev {
            background-color: $light-text;
            height: 80px;
            width: 40px;
            border-radius: 0 15px 15px 0;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
        }

        button.carousel-control-next {
            background-color: $light-text;
            height: 80px;
            width: 40px;
            border-radius: 15px 0 0 15px;
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
        }

        .carousel-inner {
            .carousel-item {
                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }

                .cover {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.411);
                }

                .carousel-caption {
                    max-height: 300px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    top: 50%;
                    transform: translateY(-50%);

                    h1 {
                        color: $light-text;
                        font-size: 3.5rem;
                        font-weight: 500;

                        span {
                            color: $secondary;
                        }
                    }

                    p {
                        font-size: 18px;
                        color: white;
                    }
                }
            }
        }

        @media only screen and (max-width:768px) {

            button.carousel-control-prev,
            button.carousel-control-next {
                width: 30px;
                height: 30px;
                font-size: 20px;

                span {
                    width: 15px;
                }
            }

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 250px;
                    }

                    .carousel-caption {
                        h1 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width:500px) {
            .carousel-inner {
                .carousel-item {
                    .carousel-caption {
                        h1 {
                            font-size: 1.2rem;
                        }

                        p {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

.main-topic {
    .container {
        .list {
            flex-wrap: wrap;

            .box {
                background-color: $primary-text;
                padding: 7px 13px;
                margin: 7px;
                border-radius: 5px;

                &:hover {
                    box-shadow: 1px 1px 10px $primary-text;
                }

                a {
                    text-decoration: none;
                    color: $light-text;
                }
            }
        }
    }
}

.this-is-us {
    .container {
        .title {
            .text {
                hr {
                    width: 80px;
                    height: 2px;
                    background-color: rgb(20, 11, 11);
                }
            }
        }

        .card-list {
            .list{
                .group {
                    flex-wrap: wrap;
                    .box {
                        width: 200px;
                        height: 130px;
                        background-color: $secondary-text;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 5px;
                        text-align: center;
                        margin: 5px 10px;
                        padding: 10px 3px;
                        &:hover {
                            box-shadow: 1px 1px 15px lightgray;
                            background-color: $light-text;
                        }

                        span{
                            i {
                                font-size: 2.5rem;
                                margin-bottom: 10px;
                                color: $primary;
                            }
                        }

                        p {
                            margin: 0;
                            font-weight: 700;
                        }
                        a.btn-link{
                            background-color: $primary-text;
                            text-decoration: none;
                            color: white;
                            width: fit-content;
                            padding: 1px 5px;
                            border-radius: 5px;
                            margin: auto;
                        }
                    }

                    @media only screen and (max-width:992px) {
                        .box {
                            width: 180px;
                            height: 120px;

                            span{
                                i {
                                    font-size: 2rem;
                                }
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }

                    @media only screen and (max-width:499px) {
                        .box {
                            width: 130px;
                            height: 100px;

                            span{
                                i {
                                    font-size: 1.5rem;
                                }
                            }

                            p {
                                font-size: 11px;
                            }
                        }
                    }

                    @media only screen and (max-width:300px) {
                        .box {
                            width: 110px;
                            height: 90px;

                            span{
                                i {
                                    font-size: 1.1rem;
                                }
                            }

                            p {
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.about-us{
    .container{
        .title {
            .text {
                hr {
                    width: 80px;
                    height: 2px;
                    background-color: rgb(20, 11, 11);
                }
            }
        }
        .feature{
            .video{
                iframe{
                    border-radius: 5px;
                }
            }
            .option{
                .accordion{
                    .accordion-item{
                        h2{
                            margin: 0;
                            button{
                                padding: 15px 8px;
                                font-weight: 700;
                                &:focus{
                                    background-color: whitesmoke;
                                    color: $primary-text;
                                }
                            }
                        }
                        .accordion-collapse{
                            .accordion-body{
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.latest-news{
    .container{
        .title {
            .text {
                hr {
                    width: 80px;
                    height: 2px;
                    background-color: rgb(20, 11, 11);
                }
            }
        }
        .news-section{
            .facebook{
                margin-top: 35px;
                iframe{
                    width: 100%;
                    height: 500px;
                }
            }
            .news{
                .card{
                    .item{
                        .image{
                            img{
                                width: 150px;
                                height: 150px;
                                object-fit: cover;
                            }
                        }
                        .content{
                            padding-left: 10px;
                            a{
                                text-decoration: none;
                                font-size: 20px;
                                font-weight: 700;
                                color: $primary-text;
                                &:hover{
                                    color: seagreen;
                                }
                            }
                            p{
                                margin-bottom: 1px;
                                span{
                                    color: rgb(168, 165, 165);
                                }
                            }
                            .text{
                                font-size: 14px;
                                height: 80px;
                                overflow: auto;
                                &::-webkit-scrollbar{
                                    width: 1px;
                                }
                            }
                        }
                        @media  screen and(max-width:500px) {
                            .image{
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
section.testimonial {
    .container {
        .item {
            .list {
                .owl-carousel {
                    position: relative;

                    .item {
                        flex-basis: 50%;
                        margin: 5px 10px;
                        text-align: center;

                        .imgbx {
                            padding: 15px 0;

                            img {
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin: auto;
                            }
                        }

                        .content {
                            .text {
                                text-align: left;
                                height: 120px;

                                &::-webkit-scrollbar {
                                    width: 3px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: rgb(224, 224, 221);
                                    border-radius: 10px;
                                }
                            }
                        }

                        .card-footer {
                            .title {
                                color: $primary-text;
                            }
                        }
                    }

                    .owl-nav {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        display: flex;
                        justify-content: space-between;

                        button.owl-prev,
                        button.owl-next {
                            background-color: $primary-text;
                            font-size: 30px;
                            color: $light-text;
                            position: relative;
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                        }

                        button.owl-prev {
                            transform: translateX(-30px);
                        }

                        button.owl-next {
                            transform: translateX(30px);
                        }
                    }

                    @media only screen and (max-width:768px) {
                        .owl-nav {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
section.partner{
    .container{
        .title{
            .text {
                hr {
                    width: 80px;
                    height: 2px;
                    background-color: rgb(20, 11, 11);
                }
            }
        }
        .marquee {
            display: flex;
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            margin: auto;
            .item{
                display: flex;
                padding-left: 100%;
                animation: scroll 30s infinite linear;
                &:hover{
                animation-play-state: paused;
                }
                li{
                    list-style: none;
                    width: 200px;
                    height: 120px;
                    margin: 0 15px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

        @keyframes scroll {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(-100%, 0);
            }
        }
    }
}
section.total{
    background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.541)), url(/image/total.jpg) no-repeat;
    background-size: cover;
}
section.college{
    .container{
        .title {
            .text {
                hr {
                    width: 80px;
                    height: 2px;
                    background-color: rgb(20, 11, 11);
                }
            }
        }
        .logo{
            .col{
                .nav-pills{
                    .nav-item{
                        .nav-link{
                            color: $primary-text;
                            border-radius: 20px;
                        }
                        .nav-link.active{
                            background-color: $primary-text;
                            color: $secondary-text;
                        }
                    }
                }
                .tab-content{
                    .tab-pane{
                        div{
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            .box {
                                margin: 5px 10px;
                                img {
                                    width: 150px;
                                    height: 150px;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
section.address{
    .container{
        .row{
            .col{
                .contact{
                    background-color: $primary-text;
                    flex-wrap: wrap;
                    border-radius: 5px;
                    .box{
                        width: 300px;
                        height: 140px;
                        padding: 10px;
                        margin: auto;
                        .icon{
                            width: 40px;
                            height: 40px;
                            background: #2a373f;
                            line-height: 40px;
                            margin: 5px auto;
                            border-radius: 50%;
                            color: #969091;
                        }
                        h5{
                            font-size: 18px;
                        }
                        p,span{
                            margin: 0 0;
                            line-height: 15px;
                            font-size: 14px;
                        }
                    }
                    .divide{
                        margin: 5px auto;
                        width: 1px;
                        height: 80px;
                        background-color: $light-text;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -5px;
                            width: 2px;
                            height: 50px;
                            background-color: $light-text;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -5px;
                            width: 2px;
                            height: 50px;
                            background-color: $light-text;
                        }
                    }
                    @media screen and (max-width:992px){
                        .divide{
                            display: none;
                        }
                    }
                    @media screen and (max-width:500px){
                        .divide{
                            display: block;
                            width: 80px;
                            height: 1px;
                            background-color: $light-text;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 50%;
                                transform: translatex(-50%);
                                top: -5px;
                                width: 50px;
                                height: 2px;
                                background-color: $light-text;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                left: 50%;
                                transform: translatex(-50%);
                                top: 4px;
                                width: 50px;
                                height: 2px;
                                background-color: $light-text;
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    .container{
        .row{
            .course{
                ul>li>a{
                    color: $light-text;
                    font-size: 14px;
                    &:hover{
                        color: $primary;
                    }
                }
            }
            .news{
                .item{
                    margin: 10px 0;
                    &:hover{
                        background-color: #26343d;
                    }
                    .imgbx{
                        img{
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                        }
                    }
                    .content{
                        padding-left: 10px;
                        p{
                            margin: 0;
                        }
                        span{
                            font-size: 11px;
                        }
                    }
                }
            }
            .contact{
                .item{
                    border-bottom: 1px solid white;
                    padding:10px 0 ;
                    .icon{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        line-height: 30px;
                        background-color: rgba(0, 0, 0, 0.534);
                        text-align: center;
                        margin-right: 5px;
                    }
                    .content {
                        line-height: 16px;
                        p {
                            font-size: 16px;
                            margin-bottom: 0;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
                
            }
        }
    }
}